.grid-container {
    display: grid;
    grid-gap: 20px;

  }

  .toggleOnOff {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .sliderBrihtness {
    grid-column-start: 1;
    grid-column-end: 2;
  }